[submodule "frontend"]
	path = frontend
	url = https://github.com/HeyfromNandini/forge_ai_frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/VigneshGadhari/ForgeAI_backend.git
